*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;  
}

ul{
    list-style-type: none;
}

ul li{
  list-style: none;
}

.container{
  width: calc(100% - 120px);
  margin: auto;
}

.row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /*if the sum of the elements inside the div that takes the flex attribute is bigger than container div width then then the elements will go down into new row*/
}