@import url('./base.css');


.NotificationBar{
    background-color: rgb(0, 0, 36);
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:sticky;

}

/*..............................................................*/

header{
    position: sticky;
    top:0;
    z-index: 2000; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    height:100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(251, 252, 251);
}

/* header .row{
    justify-content: center;
    gap:100px;
} */

.ChangeMode button{
    font-size: 40px;
    background-color: rgb(251, 252, 251);
    border: 0px solid;
    
    
    transition:font-size,.75s;
}

header a{
    color:grey;
    transition:font-size,.75s;
}



header a:hover{
    color: black;
    font-size: 20px;
}

.NavigationElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.icons{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;   
}

.icons i{
    font-size: 20px;
}

.headerOtherMode{
    background-color: white;
    color:#141718
}

@media (max-width: 450px) {
    header .container{
        width:100%;
    }
    header .icons{
        gap:15px;
    }

    .header{
        padding:10px;
    }

    .NavigationElements{
        display: none;
    }

    header .row{
        padding:10px 25px;
    }
}

@media (max-width: 550px) {
    header .row{
        gap:15px;
    }

}
/*............................................................*/



/*............................................................*/

.category{
    width:200px;
    padding: 40px ;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    text-align: center;
    box-shadow: 10px;
    transition: 1.5s;
    margin-bottom: 10px;

}

.category:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}

.categories{
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 400px) {
    .container{
       width:100%;
    }

    .categories {
        padding:30px;
    }

    .category {
        padding:10px;
        width:100%;
    }
}

/*..........................................................................*/

.products{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0px 0px 20px 0px;
    background-color: grey;
    border-radius: 10px;
}

.product img{
    width:100%;
}

@media (max-width: 400px) {
    .products{
        width:100%;
        padding:0px;
    }
    .container{
        width:100%;
    }
    .products img{
        width:100%;
        height:auto;
    }

    .product{
        width:100%;
        margin:15px 10px;
    }
}

/*...........................................................................................*/

footer {
    background-color: #141718;
    padding:50px 0px;
}

footer .row:nth-child(2){
    border-top: gray solid 2px;
    padding:20px 0px 0px 0px;
    display: flex;
    gap:20px;
}

footer .container{
    display: flex;
    flex-direction: column;
    gap:40px;
}

footer h5{
    color:white;
    font-size: 20px;
}

footer a{
    color : white;
}

footer p{
    color:white;
}

footer i{
    color:white;
    width:20px;
    height:20px;
}

.footerIcons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.footerLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


@media (max-width: 410px){
    footer .container{
        width: 100%;
    }

}

/*.....................................................................*/

.dark-mode .categories{
    background-color: #141718;
}
    
    

.dark-mode .category{
        background-color: white;
}

.dark-mode .products{
    background-color: #141718;
}

.dark-mode header{
    background-color: #141718;
}

.dark-mode .category:hover{
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
}

.dark-mode header a:hover{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.dark-mode .ChangeMode button{
    background-color:#141718;
    border: 0px solid;
    color:white

}