@import url('./base.css');


.NotificationBar{
    background-color: rgb(0, 0, 36);
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:sticky;

}

/*..............................................................*/

header{
    position: sticky;
    top:0;
    z-index: 2000; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    height:100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(251, 252, 251);
}

/* header .row{
    justify-content: center;
    gap:100px;
} */

.ChangeMode button{
    font-size: 40px;
    background-color: rgb(251, 252, 251);
    border: 0px solid;
    color:#141718;
    transition:font-size,.75s;
    cursor: pointer;
}

header a{
    color:grey;
    transition:font-size,.75s;
}



header a:hover{
    color: black;
    font-size: 20px;
}

.NavigationElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.icons{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;   
}

.icons i{
    font-size: 20px;
}

.headerOtherMode{
    background-color: white;
    color:#141718
}

@media (max-width: 450px) {
    header .container{
        width:100%;
    }
    header .icons{
        gap:15px;
    }

    .header{
        padding:10px;
    }

    .NavigationElements{
        display: none;
    }

    header .row{
        padding:10px 25px;
    }
}

@media (max-width: 550px) {
    header .row{
        gap:15px;
    }

}
/*............................................................*/
.loader-container{
    display:flex;
    justify-content:center; 
    align-items:center; 
    height:100%; /*height is equal to the viewport height*/
    width:100%; /*all the width of the screen (mobile or laptops...)*/
    position:fixed; /*put a layer above all other layers*/
    background-color: rgba(0,0,0,0.3);
}

.loader{
    width:50px;
    height:50px;
    border-radius:50%; /*I want to make the border for the loader with circle shaoe*/
    border:solid 10px rgb(0, 0, 0);
    border-bottom-color:transparent;
    animation: rotate 1s infinite ;
}

.stop-loader{    /*This will make the loader disappear in from the page*/
            /*When i want the loader to disappear i will add this class to the div*/
    display:none;
}


@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform: rotate(360deg);;
    }
}
/*............................................................*/

.category{
    width:200px;
    padding: 40px ;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    text-align: center;
    box-shadow: 10px;
    transition: 1.5s;
    margin-bottom: 10px;

}

.category:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}

.categories{
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 400px) {
    .container{
       width:100%;
    }

    .categories {
        padding:30px;
    }

    .category {
        padding:10px;
        width:100%;
    }
}

/*..........................................................................*/

.products{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0px 0px 20px 0px;
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
}

.product:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}

.product img{
    width:100%;
}

@media (max-width: 400px) {
    .products{
        width:100%;
        padding:0px;
    }
    .container{
        width:100%;
    }
    .products img{
        width:100%;
        height:auto;
    }

    .product{
        width:100%;
        margin:15px 10px;
    }
}

/***********************************************************************************************/

    .products-modal{
        background-color:rgb(0,0,0,0.3);
        height:100%;
        width:100%;
        position: fixed;
        top:0;
        left: 0;
        display: flex; /*the content of this modal will be in the center of the div*/
        align-items: center;
        justify-content: center;
    }

    .products-modal .img{
        background-color: rgb(255, 255, 255);
        padding: 20px 40px;
        border-radius:20px;
        box-shadow:0 4px 4px rgba(0,0,0,.1);
        position: relative;
    }
    
    .products-modal img{
        width:400px;
        height: 100%;
    }

    .img .productData{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:5px;
        font-weight:bold;
        text-align: center;
    }

    .img .productData p{
        background-color: rgb(0,0,0,0.4) ;
        border-radius: 2px;
        padding:3px;
        font-size: 24px;
    }

    .close-button, .right-button, .left-button{
        position:absolute;
        color:rgb(255, 255, 255);
        font-size:20px;
        background-color: rgba(0,0,0,.2);
        border-radius: 5px;
        padding:5px;
        cursor: pointer;
    }

    .close-button{ 
    /*the distance between the top and the button is 10, and the distance between the right edge of the div and the button will be 10px*/
        top:10px;
        right:10px;
    }

    .left-button{
        left:10px;
        top:50%;
    }

    .right-button{
        right:10px;
        top:50%;
    }

    .display-none-modal{
        display: none;
    }

    @media (max-width: 700px) {
        .products-modal{
            width:100%;
            padding:0px;
        }

        .products-modal img{
            width:100%;
            height:auto;
        }

        .img .productData p{
            background-color: rgb(0,0,0,0.4) ;
            border-radius: 2px;
            padding:3px;
            font-size: 18px;
        }

    }

/**********************************************************************************************/
    .products-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:60px;
    }

    .pagination-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:3px;
    }

    .page-link{
        color:rgb(255, 255, 255);
        border-radius: 5px;
        font-size: 20px;
        padding:6px;
        background-color: grey;
        border: solid 2px;
    }

    .page-link:hover{
        background-color: darksalmon;
    }

    .active-page{
        background-color: darksalmon;
    }

/*...........................................................................................*/

footer {
    background-color: #141718;
    padding:50px 0px;
    
}

footer .row:nth-child(2){
    border-top: rgb(128, 128, 128) solid 2px;
    padding:20px 0px 0px 0px;
    display: flex;
    gap:20px;
}

footer .container{
    display: flex;
    flex-direction: column;
    gap:40px;
}

footer h5{
    color:white;
    font-size: 20px;
}

footer a{
    color : white;
}

footer p{
    color:white;
}

footer i{
    color:white;
    width:20px;
    height:20px;
}

.footerIcons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.footerLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


@media (max-width: 410px){
    footer .container{
        width: 100%;
    }

}

/*.....................................................................*/

.dark-mode .categories{
    background-color: #141718;
}
    
    

.dark-mode .category{
    background-color: white;
}

.dark-mode .products{
    background-color: #141718;
}

.dark-mode header{
    background-color: #141718;
}

.dark-mode .category:hover{
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
}

.dark-mode header a:hover{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.dark-mode .ChangeMode button{
    background-color:#141718;
    border: 0px solid;
    color:white

}

.dark-mode .loader{
    width:50px;
    height:50px;
    border-radius:50%; /*I want to make the border for the loader with circle shaoe*/
    border:solid 10px rgb(255, 255, 255);
    border-bottom-color:transparent;
    animation: rotate 1s infinite ;
}